body {
    margin: 0px;
}

.logo5 {
    position: absolute;
    right: 10px;
}

#search {
    margin-top: 15px;
    margin-right: 266px;
    border: hidden;
    background-color: rgb(248, 248, 248);
    border-radius: 4px;
    height: 35px;
    padding: 5px;
    width: 400px;
    display: inline;
    font-size: 20px;
}

#submit {
    position: absolute;
    right: 350px;
    margin-top: 15px;
    border: hidden;
    background-color: rgb(248, 248, 2548);
    border-radius: 4px;
    height: 45px;
    margin-right: 100px;
    padding: 5px;
    width: 250px;
    text-align: left;
    display: inline;
    font-size: 20px;
}

#p1 {
    margin-right: 770px;
    margin-top: -30px;
    font-size: 20px;
}

#sabad {
    position: absolute;
    top: 25px;
    margin-right: 930px;
}

#support {
    position: absolute;
    top: 18px;
    margin-right: 990px;
}

.d {
    font-size: 20px;
    position: absolute;
    top: 70px;
    right: 430px;
}

.dr {
    font-size: 20px;
    position: absolute;
    top: 70px;
    right: 900px;
}

.a {
    font-size: 20px;
    position: absolute;
    top: 70px;
    right: 85px;
}

.b {
    font-size: 20px;
    position: absolute;
    top: 70px;
    right: 180px;
}

.c {
    font-size: 20px;
    position: absolute;
    top: 70px;
    right: 340px;
}

.e {
    font-size: 20px;
    position: absolute;
    top: 70px;
    right: 250px;
}

.f {
    font-size: 20px;
    position: absolute;
    top: 70px;
    right: 555px;
}

.g {
    font-size: 20px;
    position: absolute;
    top: 70px;
    right: 680px;
}

.branch {
    font-size: 20px;
    position: absolute;
    top: 63px;
    right: 1050px;
    border: hidden;
    background-color: green;
    border-radius: 5px;
    padding: 8px;
    width: 80px;
    text-align: center;
    color: white;
}

#s3 {
    border: hidden;
    border-radius: 30px;
    position: absolute;
    right: 460px;
    top: 150px;
}

#s2 {
    border: hidden;
    border-radius: 20px;
    position: absolute;
    top: 150px;
    margin-right: 37px;
}

#s1 {
    position: absolute;
    top: 378px;
    border: hidden;
    border-radius: 30px;
    position: absolute;
    margin-right: 37px;
}

#h1 {
    color: rgb(73, 190, 116);
    margin-top: 600px;
    text-align: center;
}

#sandal {
    width: 120px;
    border: 0.1px solid rgb(68, 68, 68);
    margin-right: 1020px;
    border-radius: 8px;
}

#bag {
    width: 120px;
    border: 0.1px solid rgb(68, 68, 68);
    position: absolute;
    right: 880px;
    top: 712px;
    border-radius: 8px;
}

#sport {
    width: 120px;
    border: 0.1px solid rgb(68, 68, 68);
    position: absolute;
    right: 740px;
    top: 712px;
    border-radius: 8px;
}

#daily {
    width: 120px;
    border: 0.1px solid rgb(68, 68, 68);
    position: absolute;
    right: 600px;
    top: 712px;
    border-radius: 8px;
}

#casual {
    width: 120px;
    border: 0.1px solid rgb(68, 68, 68);
    position: absolute;
    right: 470px;
    top: 712px;
    border-radius: 8px;
}

#fem {
    width: 120px;
    border: 0.1px solid rgb(68, 68, 68);
    position: absolute;
    right: 330px;
    top: 712px;
    border-radius: 8px;
}

#men {
    width: 120px;
    border: 0.1px solid rgb(68, 68, 68);
    position: absolute;
    right: 190px;
    top: 712px;
    border-radius: 8px;
}

#baby {
    width: 120px;
    border: 0.1px solid rgb(68, 68, 68);
    position: absolute;
    right: 50px;
    top: 712px;
    border-radius: 8px;
}

#sand {
    font-size: 20px;
    position: absolute;
    right: 1030px;
}

#kif {
    font-size: 20px;
    position: absolute;
    right: 890px;
}

#sp {
    font-size: 20px;
    position: absolute;
    right: 780px;
}

#dail {
    font-size: 20px;
    position: absolute;
    right: 640px;
}

#cas {
    font-size: 20px;
    position: absolute;
    right: 515px;
}

#female {
    font-size: 20px;
    position: absolute;
    right: 380px;
}

#man {
    font-size: 20px;
    position: absolute;
    right: 230px;
}

#kid {
    font-size: 20px;
    position: absolute;
    right: 87px;
}

#banr {
    border: hidden;
    border-radius: 8px;
    margin: 100px 30px 0 0;
}

#mhm {
    font-size: 20px;
    border: hidden;
    background-color: rgb(73, 173, 116);
    border-radius: 5px;
    width: 150px;
    padding: 10px;
    color: white;
    margin-right: 1000px;
}

#khm {
    font-size: 40px;
    position: absolute;
    top: 1116px;
    margin-right: 30px;
}

#tartib1 {
    width: 250px;
    position: absolute;
    right: 940px;
    border: 0.1px solid lightgray;
    border-radius: 2px;
    background-color: lightgray;
}

#tartib2 {
    width: 250px;
    position: absolute;
    right: 640px;
    border: 0.1px solid lightgray;
    border-radius: 2px;
    background-color: lightgray;

}

#tartib3 {
    width: 250px;
    position: absolute;
    right: 350px;
    border: 0.1px solid lightgray;
    border-radius: 2px;
    background-color: lightgray;

}

#tar1 {
    width: 250px;
    position: absolute;
    right: 940px;
    border: 0.1px solid lightgray;
    background-color: lightgray;
    top: 1440px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

#tar2 {
    width: 250px;
    position: absolute;
    right: 640px;
    border: 0.1px solid lightgray;
    background-color: lightgray;
    top: 1440px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

#tar3 {

    width: 250px;
    position: absolute;
    right: 340px;
    border: 0.1px solid lightgray;
    background-color: lightgray;
    top: 1440px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
#tartib4{
    width: 250px;
    position: absolute;
    right: 60px;
    border: 0.1px solid lightgray;
    border-radius: 2px;
    background-color: lightgray; 
}
#tar4{
    width: 250px;
    position: absolute;
    right: 40px;
    border: 0.1px solid lightgray;
    background-color: lightgray;
    top: 1440px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
#mstar {
    font-size: 20px;
    border: hidden;
    background-color: rgb(73, 173, 116);
    border-radius: 5px;
    width: 150px;
    padding: 10px;
    color: white;
    margin-right: 1000px;
    margin-top: 400px;
}

#gstar {
    font-size: 40px;
    position: absolute;
    top: 1550px;
    margin-right: 30px;

}