img{
    float: right;
    display: inline;
    margin-left: 50px;
}
input{
    border: hidden;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    margin-top: 20px;
    height: 30px ;
    float: right;
    text-align: right;
    font-size: large;
    padding-right: 25px;
}
p{
    float: right;
    border: hidden;
    background-color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-right: 10px;
    text-align: center;
    font-size:large;
    margin-right: 50px;
    margin-left: 50px;
}
img{
    height: 80px;
}
img{
    float: right;
}
